<div class="ui secondary segment">
    <h4 class="ui header">
        {{ 'odiseo_sylius_blog.ui.blog.about.title'|trans }}
    </h4>
    <p>
        {{ 'odiseo_sylius_blog.ui.blog.about.content'|trans|raw }}
    </p>
</div>
<h4 class="ui header">Categories</h4>
{{ render(url('odiseo_sylius_blog_plugin_shop_partial_article_category_index', {'template': '@OdiseoSyliusBlogPlugin/Shop/ArticleCategory/_verticalMenu.html.twig'})) }}
